body{
    background: linear-gradient(to top right, orange, #aa06c7);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-form{
    height: 100% auto;
    width: 100px auto;
    text-align: center;
    border: dotted black;
    margin-top:100px auto;

}