body{
    background-color:whitesmoke ;
}
.profile-picture {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    background-image: url("../images/emptyProfilePicture.jpg");
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    transform: translateY(100px);

  }
.profile-name{
  float: right;
}
 #name{
  margin-top: 150px;
 }

img{
  width:150px;
  height:150px;
  background-size: cover;
  border-radius:75px;
 }
 