body{
    background: linear-gradient(to top right, orange, #aa06c7);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-form{
    margin: 0 auto;
    height: 100% auto;
    width: 50px auto;
    text-align: center;
    border: solid black;
    margin-top:100px auto;

}